@import "../../node_modules/sass-mediascreen/mediascreen";

.header {
  margin-bottom: 25px;
  position: initial;
  &_toolbar {
    display: flex;
    justify-content: space-between;
    & > .link {
      cursor: pointer;
      @include device(mobile mobile-portrait mobile-landscape) {
        font-size: 1.1em;
        line-height: 1.3;
      }
    }
    &_right {
      display: flex;
      align-items: center;
      &_icon {
        margin-left: 10px;
        cursor: pointer;
      }
      &_authorname {
        margin-left: 20px;
        display: flex;
        align-items: center;
        @include device(mobile mobile-portrait mobile-landscape) {
          display: none;
        }
        &_avatar {
          margin-right: 15px;
          & > img {
            object-position: 0 10%;
          }
        }
        &_name {
          @include device(mobile mobile-portrait mobile-landscape) {
            display: none;
          }
        }
      }
    }
  }
}
